<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.project.dao.HospitalUserDAO">
    <resultMap id="BaseResultMap" type="com.janita.project.entity.HospitalUser">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="locked" property="locked" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT user_id, login_name, username, password, salt, 
        locked
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.project.entity.HospitalUser">
        SELECT *
        FROM hospital_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.project.entity.HospitalUser">
        DELETE FROM hospital_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.project.entity.HospitalUser">
        INSERT INTO hospital_user ( user_id, 
          login_name, username, password, 
          salt, locked )
        VALUES ( #{userId,jdbcType=VARCHAR}, 
          #{loginName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
          #{salt,jdbcType=VARCHAR}, #{locked,jdbcType=TINYINT} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.project.entity.HospitalUser">
        INSERT INTO hospital_user
        <trim prefix="(" suffixOverrides="," suffix=")">
                user_id,
            <if test="loginName != null">
                login_name,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="locked != null">
                locked,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{userId,jdbcType=VARCHAR},
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO hospital_user ( user_id, 
          login_name, username, password, 
          salt, locked )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.userId,jdbcType=VARCHAR}, 
            #{item.loginName,jdbcType=VARCHAR}, #{item.username,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, 
            #{item.salt,jdbcType=VARCHAR}, #{item.locked,jdbcType=TINYINT}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.project.entity.HospitalUser">
        UPDATE hospital_user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
        </set>
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.project.entity.HospitalUser">
        UPDATE hospital_user
        SET login_name = #{loginName,jdbcType=VARCHAR},
            username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            salt = #{salt,jdbcType=VARCHAR},
            locked = #{locked,jdbcType=TINYINT}
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>