<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.project.dao.RoleDAO">
    <resultMap id="BaseResultMap" type="com.janita.project.entity.Role">
        <id column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="available" property="available" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT role_id, role_name, available
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.project.entity.Role">
        SELECT *
        FROM role
        WHERE role_id = #{roleId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.project.entity.Role">
        DELETE FROM role
        WHERE role_id = #{roleId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.project.entity.Role">
        INSERT INTO role ( role_id, 
          role_name, available )
        VALUES ( #{roleId,jdbcType=VARCHAR}, 
          #{roleName,jdbcType=VARCHAR}, #{available,jdbcType=TINYINT} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.project.entity.Role">
        INSERT INTO role
        <trim prefix="(" suffixOverrides="," suffix=")">
                role_id,
            <if test="roleName != null">
                role_name,
            </if>
            <if test="available != null">
                available,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{roleId,jdbcType=VARCHAR},
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO role ( role_id, 
          role_name, available )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.roleId,jdbcType=VARCHAR}, 
            #{item.roleName,jdbcType=VARCHAR}, #{item.available,jdbcType=TINYINT}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.project.entity.Role">
        UPDATE role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=TINYINT},
            </if>
        </set>
        WHERE role_id = #{roleId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.project.entity.Role">
        UPDATE role
        SET role_name = #{roleName,jdbcType=VARCHAR},
            available = #{available,jdbcType=TINYINT}
        WHERE role_id = #{roleId,jdbcType=VARCHAR}
    </update>
</mapper>