<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.url.dao.SysRoleDAO">
    <resultMap id="BaseResultMap" type="com.janita.url.entity.SysRole">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="available" property="available" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT id, name, available
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.url.entity.SysRole">
        SELECT *
        FROM sys_role
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.url.entity.SysRole">
        DELETE FROM sys_role
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.url.entity.SysRole">
        INSERT INTO sys_role ( id, 
          name, available )
        VALUES ( #{id,jdbcType=VARCHAR}, 
          #{name,jdbcType=VARCHAR}, #{available,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.url.entity.SysRole">
        INSERT INTO sys_role
        <trim prefix="(" suffixOverrides="," suffix=")">
                id,
            <if test="name != null">
                name,
            </if>
            <if test="available != null">
                available,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{id,jdbcType=VARCHAR},
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO sys_role ( id, 
          name, available )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.id,jdbcType=VARCHAR}, 
            #{item.name,jdbcType=VARCHAR}, #{item.available,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.url.entity.SysRole">
        UPDATE sys_role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.url.entity.SysRole">
        UPDATE sys_role
        SET name = #{name,jdbcType=VARCHAR},
            available = #{available,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>