<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.url.dao.SysUserRoleDAO">
    <resultMap id="BaseResultMap" type="com.janita.url.entity.SysUserRole">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR"/>
        <result column="sys_role_id" property="sysRoleId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT id, sys_user_id, sys_role_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.url.entity.SysUserRole">
        SELECT *
        FROM sys_user_role
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.url.entity.SysUserRole">
        DELETE FROM sys_user_role
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.url.entity.SysUserRole">
        INSERT INTO sys_user_role ( id, 
          sys_user_id, sys_role_id )
        VALUES ( #{id,jdbcType=VARCHAR}, 
          #{sysUserId,jdbcType=VARCHAR}, #{sysRoleId,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.url.entity.SysUserRole">
        INSERT INTO sys_user_role
        <trim prefix="(" suffixOverrides="," suffix=")">
                id,
            <if test="sysUserId != null">
                sys_user_id,
            </if>
            <if test="sysRoleId != null">
                sys_role_id,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{id,jdbcType=VARCHAR},
            <if test="sysUserId != null">
                #{sysUserId,jdbcType=VARCHAR},
            </if>
            <if test="sysRoleId != null">
                #{sysRoleId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO sys_user_role ( id, 
          sys_user_id, sys_role_id )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.id,jdbcType=VARCHAR}, 
            #{item.sysUserId,jdbcType=VARCHAR}, #{item.sysRoleId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.url.entity.SysUserRole">
        UPDATE sys_user_role
        <set>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId,jdbcType=VARCHAR},
            </if>
            <if test="sysRoleId != null">
                sys_role_id = #{sysRoleId,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.url.entity.SysUserRole">
        UPDATE sys_user_role
        SET sys_user_id = #{sysUserId,jdbcType=VARCHAR},
            sys_role_id = #{sysRoleId,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>